.cartitem {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-bottom: 2rem;
  max-width: 50rem;

  .thumbnail {
    position: relative;
    z-index: 1;

    img {
      width: 85%;
      border: 1px solid lightgray;
      border-radius: 5px;
    }

    span {
      font-size: 1.4rem;
      height: 2.3rem;
      width: 2.3rem;
      border-radius: 100px;
      background-color: gray;
      color: white;
      position: absolute;
      top: -1rem;
      right: 0rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 500;

    @media (min-width: 1100px) {
      font-size: 1.5rem;
    }
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: -1.5rem;
    color: gray;

    @media (min-width: 1100px) {
      font-size: 1.3rem;
    }
  }

  p {
    font-size: 1rem;
    color: red;

    @media (min-width: 1100px) {
      font-size: 1.3rem;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
