.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 5;

  .modal {
    @media (min-width: 1100px) {
      display: none;
    }
  }

  h1 {
    font-size: 2rem;
    letter-spacing: -1.5px;
    border: 2px solid black;
    padding: 0 0.5rem;
    justify-self: center;

    &:hover {
      cursor: pointer;
    }
  }

  i {
    font-size: 2rem;
    width: fit-content;

    &:last-child {
      justify-self: end;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .nav {
    display: none;
    list-style: none;

    span {
      margin-right: 2rem;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }
    }

    @media (min-width: 1100px) {
      display: flex;
      font-size: 1.6rem;
    }
  }
}
