.productdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    max-width: 49rem;

    @media (min-width: 1020px) {
      display: flex;
      max-width: 80rem;
    }
  }

  img {
    width: 100%;
    object-fit: contain;

    @media (min-width: 1020px) {
      max-width: 42rem;
      margin-right: 1rem;
    }
  }

  h2 {
    font-size: 3rem;
    width: 50%;
    line-height: 1.1;

    @media (min-width: 1020px) {
      width: 100%;
    }
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: -1.8rem;
    margin-bottom: 0.5rem;
  }

  var {
    font-size: 1.6rem;
    font-style: normal;
  }

  .price {
    font-weight: 500;
    margin-right: 1.5rem;
  }

  .volume {
    font-weight: 300;
  }

  .action {
    display: flex;
    width: 100%;
    margin-top: 2rem;
  }

  .quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    border: 1px solid black;
    padding: 0.8rem 2rem;
  }

  span {
    font-size: 2rem;
  }

  .add {
    width: 60%;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0.8rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
  .plus:hover {
    cursor: pointer;
  }

  .minus:hover {
    cursor: pointer;
  }

  hr {
    margin-top: 3rem;
  }

  h4 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  p {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .text {
    padding: 0 2rem;
  }
}
