.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;

  h2 {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }

  p {
    font-size: 1.4rem;
    text-align: center;
  }
}

.form {
  display: flex;
  flex-direction: column;

  input {
    width: 90vw;
    max-width: 37rem;
    padding: 1rem;
    margin: 0.6rem;
  }

  .error {
    color: red;
  }

  button {
    width: 90vw;
    max-width: 37rem;
    padding: 1.1rem;
    color: white;
    background-color: black;
    border: none;
    margin-left: 0.6rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
